# Binaries for programs and plugins
*.exe
!qianduan/app/elevator/elevator-*.exe
*.dll
*.so
*.dylib
*.aar
*.jar
*.syso
.DS_Store
.eslintcache
qianduan/app/node_modules
qianduan/app/stage/build
qianduan/app/build
qianduan/app/src/types/dist
qianduan/app/kernel*
qianduan/app/SiYuan-Kernel
ios
pprof

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
qianduan/electron/dist

# IDE
.idea/
.vscode/
.zcode/

# Log
logs
*.log*

# NPM Package
package-lock.json
yarn.lock

# musl toolchain
muslbin/

# Workflows
**/__pycache__

# Private 52Note cloud backend (maintained in a separate private repository)
/houduan/
